@import url("styles/base.css");
@import url("styles/panel.css");
@import url("styles/home-screen.css");
@import url("styles/description.css");
@import url("styles/locations.css");
@import url("styles/beta-stays.css");
@import url("styles/icon-header-text.css");
@import url("styles/membership.css");
@import url("styles/vision.css");
@import url("styles/footer.css");
@import url("styles/email-signup.css");






@font-face {
    font-family: "Noe Display";
    src: url("fonts/Noe/Noe Display/NoeDisplay-Regular.otf") format("opentype");
}
/*
@font-face {
    font-family: "Noe Display";
    font-weight: bold;
    src: url("fonts/Noe Display Bold.otf") format("opentype");
}
*/
@font-face {
    font-family: "Proxima Nova";
    src: url("fonts/ProximaNova/Proxima Nova/Proxima Nova Regular.otf") format("opentype");
}

/*
.hero {
  height: 200px;
  width: 100%;
  background-color: #FFFFFF;
}

.hero__text {
  color: #000000;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 0px;
  font-family: "Proxima Nova";
  font-size: 24px;
  line-height: 34px;
}*/
