@import url("styles/base.css");
@import url("styles/panel.css");
@import url("styles/home-screen.css");



.footer {
  margin: 0 auto;
  height: 150px;
  width: 100%;
  background-color: #FFFFFF;
  width: calc(100% * 10/12);
  display: flex;
  align-items: center;
  position: relative;
}

.footer__text {
  color: #000000;
  font-family: "Proxima Nova";
  font-size: 12px;
  line-height: 18px;
}

.footer__icon {
  position: absolute;
  top: 50%;
  left: calc(100% - 40px);
  transform: translateY(-50%);
}

.footer__icon.--left {
  left: calc(100% - 130px);
}




@font-face {
    font-family: "Noe Display";
    src: url("fonts/Noe/Noe Display/NoeDisplay-Regular.otf") format("opentype");
}
/*
@font-face {
    font-family: "Noe Display";
    font-weight: bold;
    src: url("fonts/Noe Display Bold.otf") format("opentype");
}
*/
@font-face {
    font-family: "Proxima Nova";
    src: url("fonts/ProximaNova/Proxima Nova/Proxima Nova Regular.otf") format("opentype");
}

.panel.panel--description {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("images/home-page-2.png");
}


.panel--description .panel__content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.panel--description .panel__header {
  font-size: 50px;
  line-height: 65px;
  width: calc(100% * 8/12);
}

.panel.panel--beta-stays {
  background: #D9B17F;
}

.panel--beta-stays .panel__content {
  text-align: center;
  position: relative;
  padding-top: 240px
}

.panel--beta-stays .panel__header {
  font-size: 50px;
  line-height: 65px;
  margin: 0 auto;
  margin-top: 40px;
}

.panel.panel--locations {
  background: #333333;
}

.panel--locations .panel__content {
  text-align: center;
  position: relative;
  padding-top: 240px
}

.panel--locations .panel__header {
  font-size: 50px;
  line-height: 65px;
  margin: 0 auto;
  margin-top: 40px;
}

.panel.panel--membership {
  background: #333333;
}

.panel--membership .panel__content {
  text-align: center;
  position: relative;
  padding-top: 240px
}

.panel--membership .panel__header {
  font-size: 50px;
  line-height: 65px;
  margin: 0 auto;
  margin-top: 40px;
}

.panel.panel--vision {
  background: #D9B17F;
}

.panel--vision .panel__content {
  text-align: center;
  position: relative;
  padding-top: 240px
}

.panel--vision .panel__header {
  font-size: 50px;
  line-height: 65px;
  margin: 0 auto;
  margin-top: 40px;
}


/*
.hero {
  height: 200px;
  width: 100%;
  background-color: #FFFFFF;
}

.hero__text {
  color: #000000;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 0px;
  font-family: "Proxima Nova";
  font-size: 24px;
  line-height: 34px;
}*/
/*.email-form {
  text-align: center;
}

.email-form__input {
  width: 595px;
  height: 50px;
  margin-top: 25px;
  border: 1px solid #E7E7E7;
  border-radius: 4px;
  padding: 0 24px;
  font-family: "Proxima Nova";
  font-size: 14px;
  line-height: 12px;
  margin-right: 10px;
}

.email-form__submit {
  background: #B6824B;
  border-radius: 4px;
  width: 192px;
  height: 50px;
  font-size: 14px;
  line-height: 12px;
  color: #FFFFFF;
}*/
