html,
body {
  color: #FFFFFF;
  padding: 0;
  margin: 0 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Noe Display";
  font-style: normal;
}

p, a {
  font-family: "Proxima Nova";
  color: #333333
}

.arrow {
  cursor: pointer;
}