.panel.panel--description {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../images/description.png");
}

.panel.panel--description-second {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../images/description-second.png");
}

.panel.panel--description-third {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../images/description-third.png");
}

.panel.panel--description-fourth {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),url("../images/description-fourth.png");
}

.panel.panel--description-fifth {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../images/description-fifth.png");
}

.panel.panel--description-sixth {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),url("../images/description-sixth.png");
}

.panel.panel--description-seventh {
  background-color: #333333;
}

.panel.panel--description .panel__header {
  font-size: 25px;
  line-height: 35px;
}

@media only screen and (min-width: 1024px) {
  #description .panel .panel__header {
    font-size: 50px;
    line-height: 66px;
    margin: 0;
  }

  #description .panel .--margin-top-none {
    margin-top: 0;
  }
}