.panel.panel--description {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../images/home-page-2.png");
}

.panel.panel--description .panel__header {
  font-size: 25px;
  line-height: 35px;
}

@media only screen and (min-width: 1024px) {
  .panel.panel--description .panel__header {
    font-size: 50px;
    line-height: 65px;
  }
}