.email-signup__form {
  text-align: center;
}

.email-signup__input {
  width: 300px;
  margin-right: 0px;
  height: 50px;
  margin-top: 15px;
  border: 1px solid #E7E7E7;
  border-radius: 4px;
  padding: 0 24px;
  font-family: "Proxima Nova";
  font-size: 14px;
  line-height: 12px;
}

.--multiple-inputs .email-signup__input {
  margin-top: 10px;
  display: block;
}

@media only screen and (min-width: 1024px) {
  .email-signup__input {
    width: 580px;
    margin-right: 10px;
  }

  .email-signup__input:first-of-type {
    margin-top: 25px;
  }

  .--multiple-inputs .email-signup__input {
    width: 385px;
  }

  .--multiple-inputs .email-signup__submit {
    margin-top: 21px;
  }
}

.email-signup__submit {
  background: #B6824B;
  border: #B6824B;
  border-radius: 4px;
  width: 192px;
  height: 50px;
  font-size: 14px;
  line-height: 12px;
  color: #FFFFFF;
  margin-top: 10px;
  -webkit-appearance: none;
  cursor: pointer;
}

.email-signup__submit.--membership {
  margin-top: 34px;
}
