/* desktop nav hiden on mobile */
.nav {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .nav{
    display: block;
    text-align: justify;
    bottom: 70px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    width: calc(100% * 10/12);
    max-width: 1200px;
    z-index: 1;
  }

  /* Used to make the nav items take up the whole width */
  .nav:after {
    content: "";
    display: inline-block;
    width: 100%;
  }

  .nav__item {
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
  }

  .nav__link {
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Proxima Nova Semi Bold";
  }
}

/* mobile-nav */
.mobile-nav {
  position: fixed;
  left: calc(100% - 50px);
  top: 22px;
  z-index: 1;
}

@media only screen and (min-width: 1024px) {
  .mobile-nav {
    display: none;
  }
}

/* logo */
.logo {
  position: fixed;
  left: 10px;
  top: 11px;
  max-width: 167px;
  z-index: 1;
}

@media only screen and (min-width: 1024px) {
  .logo {
    position: absolute;
    left: 0;
    top: 40px;
    max-width: 187px;
  }
}

/* home-screen text */
.panel--home .panel__header {
  font-size: 35px;
  line-height: 45px;
}

.panel__arrow--down {
  position: absolute;
  transform: rotate(90deg);
  bottom: 50px;
}

@media only screen and (min-width: 1024px) {
  .panel__arrow--down {
    position: absolute;
    bottom: 210px;
    transform: rotate(90deg);
  }
}

@media only screen and (min-width: 1024px) {
  .panel--home .panel__header {
    font-size: 70px;
    line-height: 85px;
  }
}

.panel.panel--home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../images/home-page.png");
}

.panel--home .panel__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .panel--home .panel__header {
    width: calc(100% * 21/24);
  }
}


.mobile-nav, .mobile-nav.active, .mobile-nav__inner, .mobile-nav__inner::before, .mobile-nav__inner::after {
  -webkit-transition: 250ms all;
  transition: 250ms all;
}

.mobile-nav {
  cursor: pointer;
  height: 28px;
  width: 40px;
  -webkit-tap-highlight-color: transparent;
}

.mobile-nav__inner {
  transform: translateY(12px);
  background: #fff;
  height: 3px;
}

.mobile-nav__inner::before,
.mobile-nav__inner::after {
  background: white;
  content: '';
  display: block;
  height: 3px;
}

.mobile-nav__inner::before {
  -webkit-transform: translateY(-12px);
  -ms-transform: translateY(-12px);
  transform: translateY(-12px);
}

.mobile-nav__inner::after {
  -webkit-transform: translateY(9px);
  -ms-transform: translateY(9px);
  transform: translateY(9px);
}

.mobile-nav__inner.active {
  background: transparent;
}

.mobile-nav__inner.active::before {
  -webkit-transform: translateY(0px) rotate(-45deg);
  -ms-transform: translateY(0px) rotate(-45deg);
  transform: translateY(0px) rotate(-45deg);
}

.mobile-nav__inner.active::after {
  -webkit-transform: translateY(-3px) translateX(0px) rotate(45deg);
  -ms-transform: translateY(-3px) translateX(0px) rotate(45deg);
  transform: translateY(-3px) translateX(0px) rotate(45deg);
}