.panel--icon-header-text .panel__content {
  text-align: center;
  position: relative;
}

@media only screen and (min-width: 1024px) {
  .panel--icon-header-text .panel__content {
    padding-top: 240px;
  }
}

.panel--icon-header-text .panel__header {
  font-size: 25px;
  line-height: 35px;
  margin: 20px auto 0 auto;
}

@media only screen and (min-width: 1024px) {
  .panel--icon-header-text .panel__header {
    font-size: 50px;
    line-height: 65px;
    margin-top: 40px;
  }
}

.--icon-hidden-mobile.panel {
  background: #E7E7E7;
  color: #333333;
}

.--icon-hidden-mobile .panel__icon {
  display: none;
}

.--icon-hidden-mobile .panel__header {
  margin-top: 0;
}

@media only screen and (min-width: 1024px) {
  .--icon-hidden-mobile .panel__icon {
    display: inline;
  }

  .--icon-hidden-mobile .panel__header {
    font-size: 35px;
    line-height: 50px;
    margin-top: 85px;
  }
}
