.panel.panel--locations {
  background: #333333;
}

.panel.panel--locations-second.panel--icon-header-text {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/locations-second-mobile.png");
  color: #FFFFFF;
}

@media only screen and (min-width: 1024px) {
  .panel.panel--locations-second.panel--icon-header-text {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/locations-second.png");
  }
}